<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623073582912-180p75sa4h2fi3vkvp3p05jm5oje7sua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623073582912-180p75sa4h2fi3vkvp3p05jm5oje7sua</string>
	<key>API_KEY</key>
	<string>AIzaSyDTBaUaRtrzjuARON6OmKqz3FWAdihDrg0</string>
	<key>GCM_SENDER_ID</key>
	<string>623073582912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shotsense</string>
	<key>PROJECT_ID</key>
	<string>shotsense-f8806</string>
	<key>STORAGE_BUCKET</key>
	<string>shotsense-f8806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623073582912:ios:8b56567084d4af8aec24a5</string>
</dict>
</plist>